
@model SilverScreenModel

<h1>Create Movie</h1>

<div class="row">
    <div class="col-12 aligncenter">
        <form asp-action="Create">
            @Html.AntiForgeryToken()
            <div asp-validation-summary="All" class="text-danger"></div>

            <div class="row mb-3">
                <label asp-for="Name" class="col-4 col-form-label"></label>
                <div class="col-8">
                    <input asp-for="Name" class="form-control" placeholder="Enter Name..." />
                    <span asp-validation-for="Name" class="text-danger"></span>
                </div>
            </div>
            <div class="row mb-3">
                <label asp-for="Description" class="col-4 col-form-label"></label>
                <div class="col-8">
                    <textarea asp-for="Description" class="form-control" rows="3" placeholder="Enter Description..."></textarea>
                    <span asp-validation-for="Description" class="text-danger"></span>
                </div>
            </div>
            <div class="row mb-3">
                <label asp-for="Director" class="col-4 col-form-label"></label>
                <div class="col-8">
                    <input asp-for="Director" class="form-control" placeholder="Enter Director..." />
                    <span asp-validation-for="Director" class="text-danger"></span>
                </div>
            </div>
            <div class="row mb-3">
                <label asp-for="Actors" class="col-4 col-form-label"></label>
                <div class="col-8">
                    <input asp-for="Actors" class="form-control" rows="3" placeholder="Enter Actor..." />
                    <span asp-validation-for="Actors" class="text-danger"></span>   
                </div>
            </div>
            <div class="row mb-3">
                <label asp-for="Year" class="col-4 col-form-label"></label>
                <div class="col-8">
                    <input asp-for="Year" class="form-control" rows="3" placeholder="Enter Year..." />
                    <span asp-validation-for="Year" class="text-danger"></span>
                </div>
            </div>
            <div class="row mb-3">
                <label asp-for="Price" class="col-4 col-form-label"></label>
                <div class="col-8">
                    <input asp-for="Price" class="form-control" rows="3" placeholder="Enter Price..." />
                    <span asp-validation-for="Price" class="text-danger"></span>
                </div>
            </div>
            <div class="form-group row">
                <label asp-for="ImageUrl" class="col-4 mb-3 col-form-label" ></label>
                <div class="col-md-8">
                    <input asp-for="ImageUrl" value="" class="form-control" placeholder="Enter Img..." />
                    <span asp-validation-for="ImageUrl" class="text-danger"></span>
                </div>
            </div>
            <div class="row mb-3">
                <label for="Categories" class="col-4 col-form-label">Categories</label>
                <div class="col-8">
                    <select multiple id="Categories" name="CategoryIds" class="form-select">
                        <option value="1">Action</option>
                        <option value="2">Adventure</option>
                        <option value="3">Comedy</option>
                        <option value="4">Drama</option>
                        <option value="5">Horror</option>
                        <option value="6">Romance</option>

                    </select>
                </div>
            </div>
            <div class="row mb-3">
                <div class="offset-4 col-8">
                    <input type="submit" value="Save" class="btn btn-dark" />
                    &nbsp;&nbsp;
                    <button type="reset" value="Reset" class="btn btn-outline-dark">Reset</button>
                    &nbsp;&nbsp;
                    <a asp-action="Index" class="btn btn-outline-dark">Back to Movie List</a>
                </div>
            </div>
        </form>
    </div>
</div>