@model SilverScreenModel



<div class="row">
    <div class="col-12  aligncenter">
        <form asp-action="Edit" enctype="multipart/form-data">
            @Html.AntiForgeryToken()
            <div asp-validation-summary="All" class="text-danger"></div>

            <div class="row mb-3">
                <label asp-for="Name" class="col-4 col-form-label"></label>
                <div class="col-8">
                    <input asp-for="Name" class="form-control" placeholder="Enter Name..." />
                    <span asp-validation-for="Name" class="text-danger"></span>
                </div>
            </div>


            <div class="row mb-3">
                <label asp-for="Description" class="col-4 col-form-label"></label>
                <div class="col-8">
                    <textarea asp-for="Description" class="form-control" placeholder="Enter Description..."></textarea>
                    <span asp-validation-for="Description" class="text-danger"></span>
                </div>
            </div>
            <div class="row mb-3">
                <label asp-for="Actors" class="col-4 col-form-label"></label>
                <div class="col-8">
                    <textarea asp-for="Actors" class="form-control" rows="3" placeholder="Enter Actors..."></textarea>
                    <span asp-validation-for="Actors" class="text-danger"></span>
                </div>
            </div>
            <div class="row mb-3">
                <label asp-for="Director" class="col-4 col-form-label"></label>
                <div class="col-8">
                    <input asp-for="Director" class="form-control" placeholder="Enter Director..." />
                    <span asp-validation-for="Director" class="text-danger"></span>
                </div>
            </div>
            <div class="row mb-3">
                <label asp-for="Price" class="col-4 col-form-label"></label>
                <div class="col-8">
                    <input asp-for="Price" class="form-control" placeholder="Enter Price..." />
                    <span asp-validation-for="Price" class="text-danger"></span>
                </div>
            </div>
            <div class="row mb-3">
                <label asp-for="Year" class="col-4 col-form-label"></label>
                <div class="col-8">
                    <input asp-for="Year" class="form-control" placeholder="Enter Year..." />
                    <span asp-validation-for="Year" class="text-danger"></span>
                </div>
            </div>
            <div class="row mb-3">
                <label asp-for="CategoryIds" class="col-4 col-form-label"></label>
                <div class="col-8">
                    <select multiple asp-for="CategoryIds" class="form-select" asp-items="ViewBag.Categories">
                    </select>
                    <span asp-validation-for="CategoryIds" class="text-danger"></span>
                </div>
            </div>
            <input type="hidden" asp-for="Id" />
            <div class="form-group row">
                <label asp-for="ImageUrl" class="col-4 col-form-label"></label>
                <div class="col-md-8">
                    <input asp-for="ImageUrl" value="" class="form-control" />
                </div>
            </div>



            <input type="hidden" asp-for="Id" />
            <div class="row mb-3 mt-4">
                <div class="offset-4 col-8">
                    <input type="submit" value="Save" class="btn btn-info" />
                    &nbsp;&nbsp;
                    <button type="reset" class="btn btn-outline-info text-dark">Reset</button>
                    &nbsp;&nbsp;
                    <a asp-action="Index" class="btn btn-outline-info text-dark">Back to Movie List</a>
                </div>
            </div>
        </form>
    </div>
</div>