@model MovieListModel

<h1>MOVİES</h1>
<div class="row">
    <div class="col-md-12">

        <div class="row">
            @foreach (var movie in Model.silverScreens)
            {
                <partial name="_movie" for="@movie" />
            }
        </div>

    </div>
</div>
