<nav class="navbar navbar-expand-lg navbar-dark bg-dark fixed-top">
    <div class="container">
        <a class="navbar-brand">Movie ShopApp   ||</a>
        <div class="col-9">
            <ul class="nav">
                @if (User.IsInRole("Admin"))@*for admin*@
                {
                    <li class="nav-item">
                        <a class="nav-link text-white" asp-controller="SilverScreen" asp-action="Create"><i class="bi bi-file-spreadsheet fs-6"></i>Movie Add</a>
                    </li>
                    <li class="nav-item">
                        <a class="nav-link text-white" asp-controller="SilverScreen" asp-action="index"><i class="bi bi-file-spreadsheet fs-6"></i>Movie List</a>
                    </li>
                }
                else if (User.IsInRole("User"))@*for users*@
                {
                    <li class="nav-item">
                        <a class="nav-link text-white" asp-controller="SilverScreen" asp-action="List"><i class="bi bi-cart fs-6"></i>Movie List</a>
                    </li>
                    <li class="nav-item">
                        <a class="nav-link text-white" asp-controller="Cart" asp-action="GetCart"><i class="bi bi-cart fs-6"></i> Cart</a>
                    </li>
                }
            </ul>
        </div>
        <div class="col-1">
            <ul class="navbar-nav">
                @if (User.Identity.IsAuthenticated)
                {
                    <li class="nav-item">
                        <span class="badge text-info text-info"><i class="bi bi-person fs-3"></i>@User.Identity.Name</span>
                    </li>
                    <li class="nav-item">
                        <a class="nav-link text-info" asp-controller="Home" asp-action="Logout"><i class="bi bi-box-arrow-right fs-5"></i> Logout</a>
                    </li>
                }
                else
                {
                    <li class="nav-item">
                        <a class="nav-link text-info" asp-controller="Home" asp-action="Register"><i class="bi bi-person-plus fs-6"></i> Register</a>
                    </li>
                    <li class="nav-item">
                        <a class="nav-link text-info" asp-controller="Home" asp-action="Login"><i class="bi bi-box-arrow-in-right fs-6"></i> Login</a>
                    </li>
                }
            </ul>
        </div>

    </div>
</nav>